body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}

p {
margin-bottom: 5px;
}

/* Contenitore principale */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/* Layout per il contenitore del video e chat */
.main-content {
    display: flex;
    justify-content: flex-start; /* Allinea gli elementi senza spazio in mezzo */
    align-items: flex-start; /* Allinea gli elementi all'inizio in verticale */
    gap: 30px; /* Mantieni uno spazio di 30px tra gli elementi */
}

/* Stile per il video player */
.video-player {
    width: 960px;
    height: 540px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* Stile per la chat */
.chat-box {
    width: 360px;
    height: 540px;
    border: 2px solid #ccc;
    padding: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

/* Storico delle domande */
.chat-history {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

/* Text input per la domanda */
.question-input {
    width: 100%;
    height: 80px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Pulsante invio domanda */
.submit-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

#submit-button:hover {
    background-color: #45a049;
}

/* Pulsante Fine */
#end-button {
    margin-top: 20px;
    text-align: center;
}

#end-button button {
    padding: 10px 20px;
    background-color: #190c5b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#end-button button:hover {
    background-color: #190c5b;
}

/* Nascondi il contenuto principale finché l'ID non è valido */
#main-content {
    display: none;
}

#error-message {
    color: red;
    font-weight: bold;
    display: none;
}

@media (max-width: 1400px) {
    .chat-box {
        width: 300px;
        height: 360px;
    }

    .video-player {
        width: 640px;
        height: 360px;
    }
    
}

@media (max-width: 890px) {
    .main-content {
        flex-direction: column;
    }

    .chat-box {
        width: 640px;
        height: 360px;
    }
}

@media (max-width: 600px) {
    .main-content {
        flex-direction: column;
    }

    .chat-box {
        width: 375px;
        height: 280px;
    }

     .video-player {
        width: 375px;
        height: 220px;
    }

    .question-input {
        height: 40px;
    }
}